.about-body {
  margin-top: 70px;
}



.me:hover {
  background-color: black;
  color: goldenrod;
}
.me {
  background-color: goldenrod;
  padding: 10px;
  cursor: pointer;
}

.more {
  background-color: black;
  color: goldenrod;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.more:hover {
    background-color: goldenrod;
    color: black;
}
.agent-cards {
  background-color: white;
  display: flex;
  justify-content: space-around;
  height: 400px;
  align-items: center;
  flex-direction: row;
}

.agents {
  color: antiquewhite;
  background-color: black;
  width: 300px;
  height: 300px;
  text-align: center;
  border: 1px solid goldenrod;
}

.about-hero {
    padding-top: 150px;
    width: 100%;
    text-align: left;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    background: linear-gradient(rgba(0, 3, 3, 0.5), rgba(252, 189, 94, 0.5)),
    padding-left: 70px;
    border-bottom: 4px solid black;   
}
.history {
  padding-top: 150px;
  width: 100%;
  text-align: left;
  height: 500px;
  padding-left: 70px;
  border-bottom: 4px solid black;
}

@media (max-width: 768px) {
  .agent-cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 414px) {
}
