/* Project Section notes */

.project-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: ;
  padding: 10px;
  max-width: 100%;
  gap: 3px;
}
.divs {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.grid-item {
  height: 200px;
  width: 400px;
}
.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight,
.nine,
.ten,
.eleven,
.twelve,
.thirteen,
.fourteen,
.fifteen {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  opacity: 0.6;
}
.one:hover,
.three:hover,
.seven:hover,
.nine:hover,
.eleven:hover,
.thriteen:hover,
.fifteen:hover {
  transform: rotate(360deg) scale(1.5);
  transition: width 2s, height 2s, transform 2s;
  opacity: 1;
}
.two:hover,
.four:hover,
.six:hover,
.eight:hover,
.ten:hover,
.twelve:hover,
.fourteen:hover {
  transform: scale(1.5);
  transition: width 2s, height 2s, transform 2s;
  opacity: 1;
}
.one {
  background-image: url(../images-projects/Domestic.jpeg);
}
.one:hover {
  box-shadow: 2px 2px 8px -2px red;
}
.two {
  background-image: url(../images-projects/International.jpg);
}
.two:hover {
  box-shadow: 2px 2px 8px -2px orange;
}
.three {
  background-image: url(../images-projects/cruises.png);
}
.three:hover {
  box-shadow: 2px 2px 8px -2px yellow;
}
.four {
  background-image: url(../images-projects/personal.jpeg);
}
.four:hover {
  box-shadow: 2px 2px 8px -2px green;
}
.five {
  background-color: burlywood;
  transition-delay: 2s;
}
.five:hover {
  box-shadow: 2px 2px 8px -2px blue;
  background-image: url(../images-projects/business.jpg);
  transform: rotate(360deg) scale(1.5);
}
.six {
  background-image: url(../images-projects/family.jpg);
}
.six:hover {
  box-shadow: 2px 2px 8px -2px purple;
}
.seven {
  background-color: aqua;
}
.seven:hover {
}
.eight {
}
.eight:hover {
}
.nine {
  transition-property: all;
  background-color: violet;
}
.nine:hover {
  background: url(../videos/Kini\ Kini\ Transfer\ &\ Tours\ -\ ATV\ Tour\ _\ Promo\ Video.mp4);
}
.ten {
}
.ten:hover {
}
.eleven {
  background-color: tomato;
}
.eleven:hover {
}
.twelve {
}
.twelve:hover {
}
.thirteen {
}
.thriteen:hover {
}
.fourteen {
}
.fourteen:hover {
}
.fifteen {
}
.fifteen.hover {
}
